:root {
    --color-1: #141414;
    --color-2: #9f9f9f;
    --color-3: #373737;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

input, button, textarea {font-family: inherit}

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
}

body {
    background-color: #f4f4f4;
    font-family: Graphik Kinopoisk LC Web,Tahoma,Arial,Verdana,sans-serif;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.align-center {
    align-items: center;
}

/* Header */

header {
    background-color: var(--color-1);
    /*color: var(--color-2);*/
    /*min-height: 72px;*/
}

.nav {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-sizing: border-box;
    height: 72px;
    /*padding: 0 36px 0 46px;*/
}

/* Main container */

.main-container {
    margin-left: 25px;
}

.featured-menu-container nav {
    display: inline-flex;
    margin-right: 20px;
}

.featured-item {
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
}

.featured-item img {
    margin-right: 7px;
}

.featured-item:not(:last-child) {
    margin-right: 20px;
}

.featured-item:hover {
    color: white;
}

/* Search container */

/*.search-container {*/
/*    min-width: 300px;*/
/*}*/

.search-form {
    border-radius: 8px;
    height: 33px;
    /*width: 100%;*/
    padding: 0 10px;
}

.search-container * {
    align-items: center;
    background-color: var(--color-3);
}

.search-container:focus-within * {
    background-color: white;
}

.search-container input {
    padding-left: 5px;
}

.search-container label {
    margin: 0;
}

/* User container */

.user-container {
    justify-content: flex-end;
    align-items: center;
}

.user-profile {
    margin: 0 16px 0 12px;

}

.profile-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-3);
}

.profile-btn img {
    border-radius: 50%;
}

.plus-badge {
    margin-left: 10px;
}

.plus-btn {
    width: 121px;
    min-width: 121px;
    height: 40px;
    margin: auto auto auto 0;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    border-radius: 100px;
    background: rgb(255,92,77);
    background: linear-gradient(90deg,#ff5c4d,#eb469f 26.56%,#8341ef 75%,#3f68f9);
    color: white;
}

.toner {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.toner:hover {
    background: rgba(0, 0, 0, 0.1);
}

.my-btn {
    transition: transform 0.2s ease, background 0.2s ease;
}

.my-btn:hover {
    transform: scale(1.05);
}

.btn-toner:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Content */

.content {
    background-color: white;
    padding: 40px;
}

.main-left {
    margin-right: 35px;
}

.main-left > * {
    margin-bottom: 24px;
}

.film-trailer a {
    display: block;
    font-weight: 500;
}

.film-trailer a:hover {
    color: #ff5500;
}

.trailer-date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    font-weight: 400;
}

.btn-add-to-folder {
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-weight: 700;
}

.icon-folder {
    margin-right: 7px;
}

.film-title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.5px;
    line-height: 48px;
}

