:root {
    --color-1: rgba(0, 0, 0, 0.6);
    --color-2: #141414;
    --color-3: #373737;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

input, button, textarea {font-family: inherit}

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
}

body {
    background-color: #f4f4f4;
    font-family: Graphik Kinopoisk LC Web,Tahoma,Arial,Verdana,sans-serif;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1310px;
    }
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.align-center {
    align-items: center;
}

/* Header */

header {
    background-color: var(--color-2);
    /*color: var(--color-2);*/
    /*min-height: 72px;*/
}

.nav {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-sizing: border-box;
    height: 72px;
    /*padding: 0 36px 0 46px;*/
}

/* Main container */

.main-container {
    margin-left: 25px;
}

.featured-menu-container nav {
    display: inline-flex;
    margin-right: 20px;
}

.featured-item {
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
}

.featured-item img {
    margin-right: 7px;
}

.featured-item:not(:last-child) {
    margin-right: 20px;
}

.featured-item:hover {
    color: white;
}

/* Search container */

/*.search-container {*/
/*    min-width: 300px;*/
/*}*/

.search-form {
    border-radius: 8px;
    height: 33px;
    /*width: 100%;*/
    padding: 0 10px;
}

.search-container * {
    align-items: center;
    background-color: var(--color-3);
}

.search-container:focus-within * {
    background-color: white;
}

.search-container input {
    padding-left: 5px;
}

.search-container label {
    margin: 0;
}

/* User container */

.user-container {
    justify-content: flex-end;
    align-items: center;
}

.user-profile {
    margin: 0 16px 0 12px;

}

.profile-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-3);
}

.profile-btn img {
    border-radius: 50%;
}

.plus-badge {
    margin-left: 10px;
}

.plus-btn {
    width: 121px;
    min-width: 121px;
    height: 40px;
    margin: auto auto auto 0;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    border-radius: 100px;
    background: rgb(255,92,77);
    background: linear-gradient(90deg,#ff5c4d,#eb469f 26.56%,#8341ef 75%,#3f68f9);
    color: white;
}

.toner {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.toner:hover {
    background: rgba(0, 0, 0, 0.1);
}

.my-btn:hover {
    transform: scale(1.05);
}

.btn-toner:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Content */

.content {
    background-color: white;
    padding: 40px;
    border-bottom: 1px solid rgba(222, 222, 222, 0.4);
}

.film-images {
    max-width: 332px;
}

.film-images > * {
    margin-bottom: 24px;
}

@media (min-width: 500px) {
    .film-poster img, .film-trailer img {
        width: 173px;
    }
}

@media (min-width: 992px) {
    .film-poster img, .film-trailer img {
        width: 253px;
    }
}

@media (min-width: 1200px) {
    .film-poster img, .film-trailer img {
        width: 302px;
    }
}

.a-orange {
    display: block;
    color: black;
    font-weight: 500;
}

.a-orange:hover {
    color: #f50;
}

.trailer-date {
    color: var(--color-1);
    font-size: 13px;
    font-weight: 400;
}

.my-btn {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    font-weight: 700;
    transition: transform 0.2s ease, background 0.2s ease;
    justify-content: center;
    align-items: center;
}

.span-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.btn-add-to-folder {
    width: 100%;
    max-width: 302px;
    min-height: 48px;
}

.icon-folder {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.25 6.788h-.5L9.25 4.5h-7v15H21v-5h-2.4v2.6H4.65V6.9h3.885l2.902 1.897.598.391H13.25v-2.4zm5.35.012V4H21v2.8h2.8v2.4H21V12h-2.4V9.2h-2.8V6.8h2.8z'/%3E%3C/svg%3E");
}

.film-main {
    min-height: 253px;
}

.film-title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.5px;
    line-height: 48px;
    margin-bottom: 12px;
}

.film-description {
    color: var(--color-1);
}

.title {
    margin-bottom: 16px;
}

.btn-will-watch {
    width: 195px;
    height: 52px;
    margin-right: 8px;
}

.icon-will-watch {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath fill-rule='evenodd' d='M18.7 9V6.2h3.05V3.8H18.7V.75h-2.4V3.8h-2.8v2.4h2.8V9h2.4ZM7.65 3.75h2.85v2.4H7.65v10.902l3.245-1.683L12 14.797l1.105.572 3.245 1.683V12h2.4v9l-2.4-1.244L12 17.5l-4.35 2.256L5.25 21V3.75h2.4Z'/%3E%3C/svg%3E");
}

.btn-ellipsis {
    width: 52px;
    height: 52px;
}

.icon-ellipsis {
    margin-right: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 12a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm7 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm5 2a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z'/%3E%3C/svg%3E");
}

.film-rating {
    margin: 6px 0 15px;
}

.rating-value {
    color: #777;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

.rating-count {
    color: var(--color-1);
    font-size: 13px;
    line-height: 18px;
}

.btn-rate-film {
    width: 100%;
    height: 32px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 12px;
}

.film-rating a {
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
}

.film-about {
    margin-top: 40px;
}

.film-about-h3 {
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}

.film-info-table {
    font-size: 13px;
    line-height: 18px;
}

.film-info-table > .row {
    padding: 8px 0;
}

.film-info-key {
    color: var(--color-1);
}

.film-info-value {
    color: var(--color-1);
}

.film-info-value a {
    display: inline;
}

.span-border {
    border: rgba(51,51,51,.9) 1px solid;
    color: rgba(51,51,51,.9);
    padding: 3px 4px;
    font-weight: 600;
    line-height: 13px;

}

.film-right-section-title {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}

.film-right-section-title a {
    padding-right: 16px;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.film-right-section-title a::after {
    margin: 0 -16px -3px 2px;
    width: 16px;
    height: 16px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='48' height='48' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.519 23.968 13.339 8.466 16.66 5l18 17.246 1.821 1.745-1.832 1.732-18 17.02-3.298-3.487L29.52 23.968Z'/%3E%3C/svg%3E");
}

.main-roles {
    margin-bottom: 24px;
}

.actors {
    list-style: none;
    margin-top: 0;
    margin-bottom: 12px;
    padding-left: 0;
    font-size: 13px;
}

.actors li:not(:last-child) {
    margin-bottom: 7px;
}

.actors-count {
    color: #f50;
    font-size: 13px;
}

.actors-count:hover {
    color: #f50;
}

/* Review */